%head
%body
  %div
    %h1
  %div
    %p aaa
    %p bbb
    %p ccc
    %div
      %a ddd

  %div
    %h1 HEADING
    %p
      text text text text
      some more text
      text text text
    %p text
    %p text text text
